<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<startup>
			<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
		</startup>

		<connectionStrings>
			<add name="OuroBase" connectionString="Data Source=localhost;Initial Catalog=OuroBase;Integrated Security=True;TrustServerCertificate = Yes"
				 providerName="System.Data.SqlClient" />
		</connectionStrings>
</configuration>